
label{
font-weight: bold;
font-size: small;
}

input[type=password] {
    width: 25%;
    box-sizing: border-box;
    margin-bottom: 1.5rem;
  }

.year-input{
margin-top: 7px;
}

span{
    margin-top: 2.2rem;
}

.dropdown-menu{
    width: 50%;
}