
:root{
  --button-primary: #3b49df;
  --header-background: white;
  --body-background-color: white;
  --card-background-color: white;
}

body[theme='dark']{
  --header-background: #575D63;  
  --button-primary: red;
  --body-background-color: black;
  --card-background-color: #575D63;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--body-background-color);
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
